@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row" style="display:block;">
        <div class="bg-img overlay" style="background-image:url(../Assets/img/home-background.jpg)">
            @*<img src="~/Assets/img/home-background.jpg">*@
        </div>
        <div class="col-md-9" style="padding-top: 15%;padding-bottom:20%">
            <p style="color:white; font-size:40px">WELCOME TO THE STUDENT ROLL-CALL INFORMATION SYSTEM </p>
            <p style="color:white; font-size:20px">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant, eu pro alii error homero.</p>
            <a class="main-button icon-button" href="~/people/login">Login</a>
        </div>
    </div>
</div>
